#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    background-color: #465138;
    color: #ecf5e5;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}